.DS_Store

bootstap4_from_scratch/glozzom
bootstap4_from_scratch/looplab
bootstap4_from_scratch/mizuxe

bootstap4_from_scratch/bootstrap_*

bootstap4_from_scratch/project_images


javascript_project/src/*